<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Todos Los Libros</title>
</head>

<body>

    <h1>Todos Los Libros</h1>

    <li th:each="libro : ${lista}">
        ID: <span th:text="${libro.id}"></span> -
        Nombre: <span th:text="${libro.nombre}"></span> -
        Autor: <span th:text="${libro.autor}"></span> -
        Disponible: <span th:text="${libro.disponible}"></span>
    </li>

</body>

</html>