<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Eliminar Libro</title>
</head>

<body>

    <h1>Eliminar Libro</h1>

    <h2>Seleccione el ID del libro a eliminar</h2>

    <!-- Lista de usuarios con formularios para eliminar cada uno -->
    <div>
        <h3>Lista de Libros</h3>
        <ul>
            <li th:each="libro : ${lista}">
                <p th:text="${libro.nombre}">Nombre del libro</p>
                <!-- Formulario para eliminar el usuario -->
                <form th:action="@{/libros/eliminar/{id}(id=${libro.id})}" method="post">
                    <button type="submit">Eliminar</button>
                </form>
            </li>
        </ul>
    </div>

</body>

</html>