<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Todos Los Usuarios</title>
</head>

<body>

    <h1>Todos Los Usuarios</h1>

    <li th:each="persona : ${lista}">
        ID: <span th:text="${persona.id}"></span> -
        Nombre: <span th:text="${persona.nombre}"></span> -
        Email: <span th:text="${persona.email}"></span>
    </li>

</body>

</html>