<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Eliminar Usuario</title>
</head>

<body>

    <h1>Eliminar Usuario</h1>

    <h2>Seleccione el ID del usuario a eliminar</h2>

    <!-- Lista de usuarios con formularios para eliminar cada uno -->
    <div>
        <h3>Lista de Usuarios</h3>
        <ul>
            <li th:each="usuario : ${lista}">
                <p th:text="${usuario.nombre}">Nombre del usuario</p>
                <!-- Formulario para eliminar el usuario -->
                <form th:action="@{/usuarios/eliminar/{id}(id=${usuario.id})}" method="post">
                    <button type="submit">Eliminar</button>
                </form>
            </li>
        </ul>
    </div>

</body>

</html>